.header {
  width: 100%;
  /*
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  */
}

.headerContainer {
  width: 100%;
  max-width: 1300px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
}

.headerTitle {
  text-align: center;
  color: #2b2c2c;
  padding: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fbfdff;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #2b2c2c90;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top: 1%;
  /* position: absolute; 
  bottom: -25px;
  width: 100%;
  margin-left: 1rem;
  margin-right: 10rem;
  */
  margin-right: 1rem;
  margin-left: 1rem;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  /* position: absolute; */
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  background: #c2185b;
  width: 30px;
  height: 30px;
  border: 1px solid #fbfdff;
  color: #fbfdff;
  cursor: pointer;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media (min-width: 350px) and (max-width: 600px) {
  .headerList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headerTitle {
    font-size: 1.5rem;
  }

  .headerSearch {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .headerList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headerSearch {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.MuiInputBaseColorPrimary {
  backgroud-color: red;
}

